@import url("./global.css");

header{
    display: flex;/*'Para que o grupo fique ao lado do outro '*/
    justify-content: space-between; /*Colocar nas extremidades */
    align-items: center; /* Centralizar na vertical*/
    padding: 30px; /* Espacamento interno*/
    border-bottom: 0.7px solid var(--color-gray-3);/* Borda inferior*/
}

.container-nav-header{
    display: flex; /*Para que o grupo fique ao lado do outro*/
    align-items: center;/*Centraliza na vertical*/
    gap: 70px;/* Distância estre elementos */
    
}

.navigation-header ul{ /* So vai estilizar as tags ul que estiver dentro da navigatin-header*/
    display: flex; /*Para que o grupo fique ao ldo do outro*/
    gap: 40px; /* Distância entre os elementos*/
    list-style: none; /* Remove a bolinha*/
}

.navigation-header ul li a{
    text-decoration: none; /* Decoração do texto*/
    color: var(--color-black);/* Cor do texto*/
    font-family: var(--fonte-family-primary) /* Familia da fonte*/
}

.navigation-header ul li .menu-active{
    color: var(--color-blue);
}

.btn-header{
    font-family: var(--fonte-family-primary);
    text-decoration: none;
    background-color: var(--color-blue);
    color: var(--color-white);
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: var( --fonte-size-button);

}

/*---------------- MAIN -------------------*/

main{
    display: flex; /* Para que o grupo fica ao lado do outro*/
    justify-content: center; /*centralizar na horizental*/
    align-items: center; /*Centraliza na vertical */
    gap: 50px; /* Espacamento de grupos*/
    background-color: var(--color-blue-10); /* Cor do fundo da página*/
    padding: 50px 0; /*espacamento interno*/

}

.main-content{
    display: flex; /* Para centralizar um do lado do outro*/
    flex-direction: column;/*Deixa em coluna*/
    gap: 30px; /* Espacamento entre os elementos*/
    width: 520px; /* Largura do elemento*/

}

.main-content h1 {
    font-size: var(--fonte-size-h1 ); /*tamanho de fonte*/
    font-family: var(--fonte-family-primary);
    font-weight: var(--fonte-weight-h1);
}

.main-content h1 span{
    color: var(--color-blue);
}

.main-content p{
    font-family: var(--fonte-family-primary);/* Altera a fonte*/
    color: var(--color-gray ); /*altera a cor do textp*/
    line-height: 30px; /* Distância entre as linhas*/
}

.container-cta{
    display: flex; /* Centralizar grupo um ao lado do outro*/
    gap: 10px; 
}
.btn-primary, .btn-secondary{
    padding: 8px 55px; /* Espacamento interno*/
    border-radius: 10px; /* Arredondamento da borda */
    font-weight: var( --fonte-weight-button); /* Espessura da fonte*/
    text-decoration: none; /* Decoração de textp*/
    font-family: var(--fonte-family-primary);/* Familia de fonte */
}


.btn-primary{
    background-color: var(--color-blue); /*Cor de fundo*/
    color: var(--color-white);/* Cor do texto*/
    transition: 0.3s; /**/

}

.btn-primary:hover{
    background-color: #005e89;

}

.btn-secondary{
    background-color: var(--color-white);/*Cor de fundo*/
    color: var(--color-blue); /* Cor do texto*/
    border: 1px solid var(--color-blue);/* Borda do elemento*/
    transition: 0.3s; /**/
}

.btn-secondary:hover{
    background-color: #c6c6c6; /* Cor de fundo */
}

/*---------------------- SERVICES ----------------------*/

.section-services{
    display: grid;
    grid-template-columns: repeat(4, max-content);
    justify-content: center;
    gap: 25px;
    padding: 30px 0;
    border-bottom: 0.7px solid var(--color-gray-3);
}

.container-item-services{
    display: flex;
    align-items: center;
    gap: 15px;
}

.container-item-services h2{
    font-family: var(--fonte-family-primary);
    font-weight: var(--fonte-weight-h4);
    font-size: var(--fonte-size-h4);
}

.container-item-services p{
    font-family: var(--fonte-family-primary);
    color: var(--color-gray-2);
    font-size: var(--fonte-size-capton );
}

/*--------- SECTION DETAILS---------------*/

.section-details{
    display: flex; /*Habilitar o gap*/
    flex-direction: column;/*colocar os elementos em coluna*/
    gap: 80px; /*Distância entre os elementos*/
    align-items: center;/* Cuida da horizontal( flex-direction:column )*/
    padding: 80px 0;/* Espaçamento interno*/
}
.details-presentation{
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center; /*colocar o texto no centro*/

}

.details-presentation h2{
    font-size: var(--fonte-size-h2);/* Tamanho da fonte*/
    font-family: var(--fonte-family-primary);/* família da fonte*/
    font-weight: var(--fonte-weight-h2);/* espessura da fonte*/

}

.details-presentation p{
    font-family: var(--fonte-family-primary);
    font-size: var(-fonte-weight-body);
    color: var(--color-gray-2);
    width: 665px;
    margin: 0 auto;
}

.service-description{
     display: flex; /* Para que o grupo fica ao lado do outro*/
    align-items: center; /*centralizar na vertical*/
    gap: 60px; 
    
}

.content-service{
    display: flex; /*habilitar o gap */
    flex-direction: column;/* colocar em coluna*/
    gap: 40px;    /*Distância entre os elementos*/
}

.service-details{
    display: flex;
    align-items: center;
    gap: 25px;
}

.service-details div span{
    font-size: var(--fonte-size-h4); 
    font-weight: var(--fonte-weight-h4);
    font-family: var(--fonte-family-primary);
}

.service-details div p{
    font-size: var( --fonte-size-capton);
    font-family: var(--fonte-family-primary);
    color: var(--color-gray-2)
}

.content-service h3{
    font-size: var(--fonte-size-h3 );
    font-family: var(--fonte-family-primary);
    font-weight: var(--fonte-weight-h3 );
    width: 420px;
}

.content-service h3 span{
    color: var(--color-blue);
}
.content-service p {
    font-family: var(--fonte-family-primary);
    color: var(--color-gray);
    line-height: 27px;
    width: 445px;
}

/*--------SECTION BENEFIT----------*/

.section-benefit{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card-benefit{
    display: flex;
    flex-direction: column;
    gap: 35px;align-items: center;
    padding: 60px 48px;
    border-radius: 20px;
    
}
.card-benefit p{
    width: 458px;
}

.card-benefit-secondary{
    background-color: #f4f4f4;
}